extends _layouts/base

include _modules/link/link

block content
  .container
    .info
      h1 nosegay
      p(id="time") . . .
      img.logo(src="images/i.jpg")
  code.version= site.data.index.version
